<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Task details</title>
</head>
<body>
<nav th:replace="navbartest :: navet"></nav>
<br>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Assigned user</th>
                <th scope="col">Deadline</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
            <tr>
                <td th:text="${todo.title}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo?.assignee?.userName}"></td>  <!-- Måste fixa så att denna kan vara null! -->
                <td th:text="${todo.deadline}"></td>
                <td th:text="${todo.reward}"></td>
                <td>
                    <span sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-primary" th:href="@{/todos/{id}/update (id=${todo.getTodoItemId()})}">Update</a></span> <!--Färdiglänkad  -->
                    <span sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/login}">Delete</a></span> <!-- Ej färdiglänkad  -->
                </td>
            </tr>
        </table>
    </div>
</body>
</html>