<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<!--
    Show user details
    Show list of assigned tasks (button for specific task details?)
    Checkbox for done / not done

    If admin, UPDATE / REMOVE / MAKE ADMIN
-->
</body>
</html>